/* ul.social li{
    margin-left: 15px;
} */
.sidenav .overlay {
    left: 0;
}
.sidenav .overlay .closebtn {
    left: 45px;
}
.sidenav .nav-icon{
    float:left;
    margin-left:50px;
}

@media screen and (max-height: 450px) {
  .sidenav .overlay .closebtn {
    right: 35px;
  }
}

.top-header ul.contact-info li svg{
    margin-right: 5px;
}
.top-header ul li{
    float: left;
    margin-right: 20px;
}
.home-intro .content{
    text-align: left;
    float: left;
}
.home-intro .content img {
    margin-right: 30px;
}
.hotline .btn svg{
    margin-right: 5px;
}
.branches .row:nth-child(even){
    direction: rtl;
    text-align: left;
}
.branches .row:nth-child(even) .content{
    direction: ltr;
}
.branches .branch-info li svg{
    margin-right: 5px;
}
.archive-products .product:nth-child(even){
    direction: rtl;
    text-align: left;
}
.archive-products .product:nth-child(odd) .info{
    padding-right: 60px !important;
}
.archive-products .product:nth-child(even) .info{
    padding-left: 60px !important;
    direction: ltr;
}
.archive-products .product:nth-child(odd) figure{
    border-left: 0;
}
.archive-products .product:nth-child(even) figure{
    border-right: 0;
}
/************* Responsive *************/
    @media(max-width: 1024px){
    }
    @media(max-width: 768px){

    }
    @media(max-width: 640px){

    }
    @media(max-width: 480px){
        
    }
    @media(max-width: 360px){
        
    }
/************* Responsive *************/
